<div class="center-section mt-16 mb-16 md:mx-0 mx-1 top-16 w-96 lg:w-auto">
  <ul *ngFor="let entreprise of entreprises">
    <li class="bg-background text-font p-4 rounded-lg shadow-md mt-4">
      <div class="mb-4">
        <h2 class="text-xl font-semibold">{{ entreprise.name }}</h2>
        <div class="font-bold">SIREN:</div>
        <div class="mb-1">{{ entreprise.siren }}</div>

        <div class="font-bold">SIRET:</div>
        <div class="mb-1">{{ entreprise.siret }}</div>

        <div class="font-bold">Date de création:</div>
        <div class="mb-1">{{ entreprise.dateCreation }}</div>

        <div class="font-bold">Effectif:</div>
        <div class="mb-1">{{ entreprise.effective }}</div>

        <div class="font-bold">Représentant(s):</div>
        <ul class="mb-1">
          <li *ngFor="let representative of entreprise.representatives">
            {{ representative.firstName }}
            {{ representative.lastName }} -
            {{ representative.position }}
          </li>
        </ul>

        <div class="font-bold">Date de confirmation de l'effectif:</div>
        <div class="mb-1">{{ entreprise.dateConfirmationEffectif }}</div>

        <div class="font-bold">Adresse:</div>
        <ul class="mb-1">
          <li *ngFor="let location of entreprise.location">
            {{ location.streetAddress }}, {{ location.postalCode }}
            {{ location.city }}
          </li>
        </ul>

        <div class="font-bold">Détails financiers:</div>
        <table class="table-fixed w-full">
          <tr>
            <th>Année</th>
            <th>Capital</th>
            <th>Chiffre d'affaires</th>
            <th>Marge nette</th>
            <th>Profit net</th>
          </tr>
          <tr *ngFor="let financeDetail of entreprise.financeDetails">
            <td>{{ financeDetail.financialYear }}</td>
            <td>{{ financeDetail.shareCapital }}</td>
            <td>{{ financeDetail.turnover }}</td>
            <td>{{ financeDetail.netMargin }}</td>
            <td>{{ financeDetail.netProfit }}</td>
          </tr>
        </table>
      </div>
    </li>
  </ul>
</div>
